---
import PageLayout from "@/layouts/Base";
import { getAllPosts, getUniqueTagsWithCount } from "@/utils";

const allPosts = await getAllPosts();
const allTags = getUniqueTagsWithCount(allPosts);

const meta = {
	title: "All Topics",
	description: "A list of all the topics I've written about in my posts",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">Topics</h1>
	<ul class="space-y-4">
		<div class="flex flex-wrap leading-6">
			{
				allTags.map(([tag, val], index, array) => (
					<>
						<a class="tag cactus-link" href={`/topics/${tag}/`}>
							{tag}
						</a>
						{index !== array.length - 1 && <span class="muted">,&nbsp;</span>}
					</>
				))
			}
		</div>
	</ul>
</PageLayout>
