---
import { Image } from "astro:assets";

import PageLayout from "@/layouts/Base";

const meta = {
	title: "About",
	description:
		"Im a self-taught software engineer, maker and digital nomad based in LATAM. Im currently focused on experimenting with different ideas around fintech and smart contracts, Solidity, EVM, UI, and everything in between",
};
---

<PageLayout meta={meta}>
	<content>
		<div class="space-y-6">
			<h1 class="title">About me</h1>
			<p>
				My journey is a little different than most. At the age of 13, I had grand plans of becoming
				a software engineer, and soon I began teaching myself how to code. During high school, I had
				chance to learn programming in depth. After that, I started building websites and apps and
				realized that I wanted to build startups, so I dropped out of university. Fast forward a few
				years and I'm a founder, software engineer, and maker.
			</p>
			<p class="mb-4">
				I’m the co-founder of <a class="cactus-link" href="https://zeneca.app/" target="_blank"
					>Zeneca</a
				> a platform that allows freelancers to receive and widthdraw payments fast. Previously, I
				was a software engineer at <a
					class="cactus-link"
					href="https://fondeadora.com/"
					target="_blank">Fondeadora</a
				> a Mexican neobank and a few early stage YC fintech startups like Heru and Cuanto.
			</p>
			<p>Now:</p>
			<ul class="list-inside list-disc">
				<li>I'm a digital nomad for the last 3 years traveling mosly in LATAM</li>
				<li>Currenly living in Medellin, Colombia🇨🇴</li>
				<li>Born and raised in Panama🇵🇦</li>
				<li>Speak two languages: Spanish and English</li>
				<li>Love doing sports mostly calisthenics and soccer</li>
				<li>My favorites books is the Almanack of Naval Ravikant</li>
				<li>Been fortunate enough to travel to 11 countries</li>
			</ul>
			<p></p>
			<p>A few links to explore:</p>
			<ul class="list-inside list-disc">
				<li>
					<a href="/blog" class="font-ui cactus-link">Writing</a>
				</li>
				<!-- <li><a href="/projects" class="font-ui cactus-link">Projects</a></li> -->
			</ul>
		</div>
	</content>
</PageLayout>
